/* Eléments principaux de la page */

body {
   background: url('fond_nuage.jpg');
   background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #181818;
}


/* Logo*/
.photo{
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    margin: auto;
}

/*Titre*/
header h1 {
    font-family: serif;
    font-size: 25px;
    font-weight: normal;
    margin: auto ;
    color: pink ;
}


/* Barre de navigation */
.navigation {
    float: right;
    margin: 30px ;
}

nav a {
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
}

nav ul {
    list-style-type: none ;
    display: flex;
}

nav li {
    margin-right: 16px;
}

nav a {
    font-size: 25px;
    color: #2a2b31; 2px;
    text-decoration: none;
}

nav a:hover {
    color: grey;
    border-bottom: 2px solid pink;

footer {
  width: 60%;
  min-height: 30px;
  padding: 20px 20px 20px 20px;
  background-color: pink;
  opacity: 0.8;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 140px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: 0.6s;
  transition: all .25s;
}

a.linkedin {
  background-image: url(https://cdn.worldvectorlogo.com/logos/linkedin-icon-2.svg);
}
a.instagram {
  background-image: url(https://cdn.worldvectorlogo.com/logos/instagram-2-1.svg);
}
a.wordpress {
  background-image: url(https://cdn.worldvectorlogo.com/logos/wordpress-blue.svg);
}
a.gmail {
  background-image: url(https://cdn.worldvectorlogo.com/logos/gmail-icon.svg);
}

a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}
le;
}



/* PAGE GLOBAL */
* { 
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #0499ff;
}
a:hover {
  color: #6633ff;
}


.tag {
  background-color: pink;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
  opacity: 0.7;
} 
.location {
  background-color: pink;
  color: black;
  opacity: 0.7;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: center;
  background: #e6c8fa;
  border-bottom: 4px solid #ff99ff;
  border-radius: 6px;
  opacity: 0.7;
}
.card:hover {
  border-color: purple;
}

ul.langage {
  padding: 0;
  text-align: center;
}

footer {
  width: 60%;
  min-height: 30px;
  padding: 20px 20px 20px 20px;
  background-color: pink;
  opacity: 0.8;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 140px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: 0.6s;
  transition: all .25s;
}

a.linkedin {
  background-image: url(https://cdn.worldvectorlogo.com/logos/linkedin-icon-2.svg);
}
a.instagram {
  background-image: url(https://cdn.worldvectorlogo.com/logos/instagram-2-1.svg);
}
a.wordpress {
  background-image: url(https://cdn.worldvectorlogo.com/logos/wordpress-blue.svg);
}
a.gmail {
  background-image: url(https://cdn.worldvectorlogo.com/logos/gmail-icon.svg);
}

a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* PC et écrans large  */
@media screen and (min-width: 720px) {
  
  .flex {
      display: flex;
      max-width: 1000px;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 350px;
  }


  main {
    padding-top: 50px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 50px auto;
  }

}





/* !recalés! */



/*
  .nav {
    max-width: 1200px;
  }

  .nav .name {
    display: block;
    margin-right: auto;
    color: white;
  } */



/* Section Styles */
/*
.main-nav {
  width: 100%;
  background-color: pink;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.nav .name {
  display: none;

}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: red;
}
*/

/* Cases */ 

/*
.langage li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.langage li:nth-child(odd) {
  background: #0399ff;
}


footer .copyright {
  top: 0px;
  margin-right: 0px;
  font-size: 1em;
}
*/